@import "mixen";

main {
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: $second-color;
  height: 100%;

  .main-content {
    &__my-name {
      color: $third-color;
      font-size: 30px;
    }

    &__gvn {
      color: $text-color;
      font-size: 50px;
    }

    &__software-developer {
      @include opa(0.8);
    }

    &__descri {
      @include opa(0.7);
      color: $fourth-color;
      font-size: 1.1rem;
    }

    &__btn-resume {
      @include button;
      @include transition;

      &:hover {
        cursor: pointer;
        background-color: $third-color;
        color: $first-color;
      }
    }
  }
}
