@import "variables";
@import "mixen";

.header {
  height: 8vh;
  width: 100%;
  position: fixed;
  color: $text-color;
  @include shadow;
  background-color: $menu-color;

  &__logo {
    position: absolute;
    left: 0;
    margin-left: $margin-left-global;
    top: halfHeader(8vh, $default-font-size);
  }

  .nav {
    position: absolute;
    top: halfHeader(8vh, $default-font-size);
    right: 0;

    &__ul {
      list-style: none;
      display: flex;
      margin-right: $margin-right-global;

      li {
        margin-right: 1.5rem;
        cursor: pointer;
        @include transition;

        &:hover {
          color: $third-color;
        }
      }
    }
  }
}
