@mixin opa($opacity) {
  opacity: $opacity;
}

@mixin button {
  padding: 1rem;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid $third-color;
  border-radius: 3px;
  color: $third-color;
}

@mixin transition {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

@function halfHeader($A, $B) {
  $aux: calc(($A - $B) / 2);
  @return $aux;
}

@mixin shadow {
  -webkit-box-shadow: 5px 6px 6px -1px rgba(0, 0, 0, 0.46);
  box-shadow: 5px 6px 6px -1px rgba(0, 0, 0, 0.46);
}
