$first-color: #222831;
$second-color: #393e46;
$third-color: #00adb5;
$fourth-color: #eeeeee;
$menu-color: #2b3039;
$text-color: white;
$default-font-size: 17px;

// Margins
$margin-right-global: 8rem;
$margin-left-global: 8rem;
